import string
import json
Brain={
'Me':{'Name':'Ceasar','You':'Identity','Your':'Identity'},
'Greetings':{'Hello':'p','Hi':'p'},
'Questions':{'What':'u','Why':'u','Who':'Identity','When':'time','How':'conditions','Where':'location'}

}
analysis = []
s = "Who are you?"
if s.find('?'):
    print "Asking a question"
    s=s.rstrip('?')
sentence = s.split()
print(sentence)
print(len(sentence))
for x in range(0,len(sentence)):
    print(sentence[x])
    for key, data in Brain.items():
        print(key)
        for attribute, value in data.items():
            print('{},{}'.format(attribute, value))
            if string.lower(attribute) == string.lower(sentence[x]):
                print "Found match"
                if key == "Questions":
                    analysis.append('Questions')
                if value == "Identity":
                    analysis.append('Identity')
                if key == "Me":
                    analysis.append('Me')
print(analysis)
decoded = " "
decoded.join( analysis )
if decoded.find('Questions') and decoded.find('Identity') and decoded.find('Me'):
    print "I am Caesar"
            
